.center {
    position: absolute;
    width: 400px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    
}

#name {
    color: #000000;
    font-family: 'Reggae One', cursive;
    font-size: 35px;
    text-align: center;
}

#welcome {
    color: #000000;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    text-align: center;
}

#foot {
    color: #000000;
    font-family: 'Reggae One', cursive;
    font-size: 30px;
    text-align: center;
}

i {
    color: #000000;
}

#icons {
    padding-top: 8px;
}

[tooltip] {
    position: relative; 
  }
  
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; 
    font-size: .9em; 
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }

  [tooltip]::before {
    content: '';
    border: 5px solid transparent; 
    z-index: 1001; 
  }

  [tooltip]::after {
    content: attr(tooltip);
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    border-color: #00fa00;
    background: #00fa0000;
    color: #00fa00;
    z-index: 1000;
  }
  
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #00fa0000;
  }
  
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
